*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body { 
  
  /* border: 2px solid blue; */
  width: 100%;
  height: 100vh;
  background-color: gray;

}

.app-container {
  width: 100%;
  height: 100vh;
  border: 3px solid red;
  /* display: flex; */
  /* justify-content: center; */
}

.overview-chart{
  display: flex;
justify-content: flex-start;
align-items: flex-start;

  /* margin: 0 auto; */
  border: 3px solid blue;
   height: 99vh;
  /*
   display: flex;
  justify-content: center;
  align-items: center; */
}